@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
.banner{
  font-family: 'Cinzel', serif;
}


.home{
  background-image: linear-gradient(to right, #43cea2, #185a9d); 
}
.bar{
  background-color: #43cea2;
}

.dropdown{
  /* background-color: #43cea2; */
  background-image: linear-gradient(to right, #43cea2, #185a9d);
}


html,body{
  overflow-x: hidden;
  margin: 0;
  padding:0;
  top:0;
  left: 0;;
}

.font1{
  font-family: 'Pacifico', cursive;
}

* {
  box-sizing: border-box;
}

.back{
  background-color: #2b2b2b;
  /* background-image: linear-gradient(to right, #43cea2, #185a9d); */
  animation: smooth 0.4s ease-in;
}

@keyframes smooth {
  0%{opacity: 0%}
50%{opacity:50%}
  100%{opacity:100%} 
}

.about{
  background-color: #2B2B2B;;
}
.about p{
  color: #7A7A7A;
}
.about button{
  background-color:#353535;
}
.main{
  background-color:#353535;
}

.skillhead{
  color: #7A7A7A;
}

.skillcolor{
color:#353535;
}
.contact{
  background-color:#191919
}
.input{
  background-color:#373233;
  margin-bottom:20px ;
  border-radius: 5px;
}

.label{
  margin-bottom: 8px;
}
.active{
 
  /* color:white; */
  background-color: whitesmoke;
  border-radius: 0.125rem;
  color:black;
}







